* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fbf1ff;
}

header {
    background-color: rgb(0, 17, 144);
    height: 5rem;
    padding: 1rem 0;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.logoimage {
    height: 100%;
}

.logo-text {
    font-family: initial;
    font-size: xx-large;
    font-weight: 700;
}

nav {
    display: none;
}

.product-title {
    font-weight: 400;
}
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.product {
    /* border: 1px solid grey; */
    padding: 1rem;
    /* border-radius: 10px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-container {
    position: relative;
    overflow: hidden;
    /* border-radius: 15px; */
    overflow: hidden;
}

.primary-image,
.secondary-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.secondary-image {
    opacity: 0;
    width: 100%;
}

.image-container:hover .primary-image {
    opacity: 0;
}

.image-container:hover .secondary-image {
    opacity: 1;
}

.product h3 {
    font-size: 15px;
    font-weight: 400;
    font-family: monospace;
}

.star {
    color: gold;
}

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.btn-add {
    padding: 5px 15px;
    background-color: orange;
    color: white;
    border-radius: 10px;
}

footer {
    background-color: rgb(52, 52, 52);
    height: 5rem;
    padding: 1rem 0;
}
footer p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    font-family: monospace;
    text-align: center;
    margin: 15px;
}

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) {

    /* Your styles for small screens go here */
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {

    /* Your styles for medium screens go here */
    .menubutton {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        gap: 1.5rem;
    }

    nav a {
        color: white;
        font-size: 18px;
        font-family: serif;
        letter-spacing: 1px;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {

    /* Your styles for large screens go here */
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}